RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^admin/(.+)/(.+)/$ index.php?system=admin&controller=$1&action=$2 [QSA,L]
RewriteRule ^admin/(.+)/$ index.php?system=admin&controller=$1 [QSA,L]
RewriteRule ^admin/$ index.php?system=admin [QSA,L]


RewriteRule ^(.+)/(.+)/$ index.php?controller=$1&action=$2 [QSA,L]
RewriteRule ^(.+)/$ index.php?controller=pages&action=page_view&page=$1 [QSA,L]
