*{
    padding:0;
    margin:0;
}

ul li{
    list-style: none;
}


h3{
    padding: 8px 0px;
}

h4{
    padding: 8px 0px;
}

.header{
    display: flex;
    background: #e5e5ec;
    padding: 10px;
    align-items: baseline;
}

.header .admin-title{
    font-size:22px;
    flex-grow: 1;
    text-align: left;
}

#middle_wrap{
    display: flex;
    
}

#center_bar_wrap{
    flex-grow:1;
}


.messages.err-messages{
    padding:10px;
    background:#ffeaea;
    color:red;
    border:1px solid black;
    border-radius: 5px;
}


.err-messages li{
    list-style: inside;
}

#right_bar{
    padding: 15px 10px 15px 5px;
}

#right_bar ul.item-group{
    padding: 0px 10px 0px 0px;
}

#right_bar ul li.bar-item{

}

#right_bar ul li.bar-item a{
    padding: 5px 14px 5px 25px;
    background: #dde0f4;
    margin-bottom: 4px;
    text-decoration:none;
    color:black;
    display:block;
}

#right_bar ul li.bar-item:hover a, #right_bar ul li.a-selected a{
    color:black;
    background:blue;
}

#content_wrap{
    background: #dcdcf0;
    padding: 15px;
    margin: 5px;
}

.flex-table .row {
    display: table-row;
}

.flex-table .col {
    display: table-cell;
    border: 1px solid grey;
    padding: 5px;
}
  .flex-table .table-th .col{
    border:none;
}
.flex-table .table-th .col-first{
    background:none;
}
.flex-table .col-first {
    background: #cdcdfa;
    width:10px;
}

.flex-table .col-tiny {
    max-width:50px;
}

.flex-table .col-small{
    max-width: 100px;
}

.flex-table .table-input{
    width: 100px;
}

.flex-table .col-tiny .table-input{
    width: 30px;
}

.flex-table .col-small .table-input{
    width: 80px;
}

.delete-item-x{
    text-decoration: none;
    font-family: sans-serif;
    color: red;
    font-size: 25px;
    display: block;
    position: relative;
    top: 4px;
}

.alt-box{
    padding: 10px;
    background: #ffbdbd;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ababab;
}

.alt-box .bottom-buttons{
    display:flex;
    font-size:18px;
}

.alt-box .cancel-button-wrap{
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
}


.focus-box{
    padding: 10px;
    background: #ffe8e8;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ababab;
    max-width: 800px;
    margin: 20px auto;
    display: block;
} 

.focus-box.sub-focus {
    background: #fefdf07d;
}

.button-focus{
    background: #fefdf0;
    max-width:300px;
}

.button-focus:hover{
    background: #fffafa;
}

.move-item-wrap{
    float:left;
}

.item-edit-menu{
    text-align: center;
}

.item-edit-menu a.a-selected{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.content-blocks{
    max-width: 800px;
    margin:auto;
}

.content-block{    
    margin-bottom: 25px;

}

.content-block .block-content{
    padding:10px;
    border-radius: 5px;
    border: 1px solid gray;
    background: floralwhite;
    box-shadow: 5px 5px 5px #c9c9c9;
    
}

.block-buttons{
    display: flex;
    justify-content: space-between;
}

.form-group textarea{
    width:100%;
    min-height: 200px;
}

.form-group.big-text textarea{
    min-height: 400px;
}